<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604415911278-gc3vsf13er2hnj198u2jguk8m4vd7vaj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604415911278-gc3vsf13er2hnj198u2jguk8m4vd7vaj</string>
	<key>API_KEY</key>
	<string>AIzaSyDmHx6aWuAlQjvKGzrLal2PWlguCIjgAHI</string>
	<key>GCM_SENDER_ID</key>
	<string>604415911278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.matsushima.chatAppWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatwithfirebaseapp-a2ead</string>
	<key>STORAGE_BUCKET</key>
	<string>chatwithfirebaseapp-a2ead.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604415911278:ios:8ab330194c9c8f83384d7f</string>
</dict>
</plist>